:root {
    --primary-color: #f5cf05;
    --secundary-color: #8E4106;
    --third-color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0; 
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
        flex-direction: column;
}

header {
    height: 100px;
    display: flex;
    flex-direction: row;
}

header .Pokebola {
    width: 199px;
    height: 48px;
    padding-top: 70px;
    padding-left: 70px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content-image {
    width: 559px;
    height: 541px;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 80px;
    align-self: self-end;
}

.background-text {
    width: 1462px;
    height: 497px;
    font-size: 420px;
    opacity: 20%;
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    padding-bottom: 260px;
}

.content-text {
    width: 1096px;
    height: 373px;
    font-size: 300px;
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-download {
    background-color: var(--secundary-color);
    width: 411px;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 115px;
    right: 70px;
    align-items: center;
    justify-content: center;
    gap: 32px;
}


.container-download span {
    font-size: 48px;
    color: var(--third-color);
}

.container-download img {
    width: 24px;
    height: 44px;
}

.text-left {
    color: var(--secundary-color);
    font-weight: 400;
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    position: absolute;
    left: 70px;
    bottom: 115px;
}

.title {
    font-size: 64px;
}

.body-text {
    font-size: 20px;
}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
}

footer span {
    height: 20px;
    color: var(--secundary-color);
}

